body {
    background-color: $colour-dark !important;
}

.jumbotron {
    margin-top: 30px;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.shadow {
    box-shadow: 0 0 1em black;
}
